doctype html
html

    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet" href="/style.css")

    body
        .container
            form(action="/registration" method="post" name="auth")
                h1 Регистрация

                .form-group
                    label(for="email") Email
                    input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
                .form-group
                    label(for="password") Пароль
                    input.form-control(type="password" id="password" name="password" required)
                .form-group
                    label(for="password-confirm") Подтверждение пароля
                    input.form-control(type="password" id="password-confirm" name="password-confirm" required)

                button.btn.btn-lg.btn-primary.btn-block(type="submit") Login

        script(src="/script.js")